{% extends 'base.html' %}


{% block content %}

<div class="container-fluid bg-danger text-light ">
    <div class="row" style="padding-left: 2%;padding-top:1%;">
        <div class="col-md-10">
            <h2>GBA Hotels</h2>
        </div>
        {% if name %}
            <div class="col-md-2">
                <a href="{% url 'home' %}" style="color:aliceblue"> Home</a> |
                <a href="{% url 'logout' %}" class="btn btn-primary" >Log out</a><br/><br/>
            </div>
        {% endif %}
    </div>

</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">GBA Hotels Reservation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'search' %}">Search and Discover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'reservation_history' %}">My Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
          </li>
      </ul>
      <span class="navbar-text">
        Explore and Discover in Greater Bay Area!
      </span>
    </div>
  </nav>

<br/><br/>
        <div class="container">
        {% if details %}
            {% for detail in details %}
                <div class="row">
                    <div class="col-sm-11">
                        <div class="card">
                            <div class="card-block">
                                <b class="card-title" style="font-size: x-large">Reservation id:</b> <b>hid-{{ detail.0.reservation_id }}</b><br/><br/>
                                <h6 class="card-subtitle mb-2 text-muted">Hotel: {{ detail.1 }}</h6>
                                <div class="row">
                                    <div class="col-sm-3">
                                    <b><p class="card-text">Room type: {{ detail.0.room_id }}</p></b>
                                    </div>
                                    <div class="col-sm-2">
                                    <b><p class="card-text">Rooms: {{ detail.0.total_rooms }}</p></b>
                                    </div>
                                    <div class="col-sm-3">
                                    <b><p class="card-text">Total price: HKD {{ detail.0.total_cost }}</p></b>
                                    </div>
                                    {% if detail.0.discounted_price > 0 %}
                                        <div class="col-sm-3">
                                        <b><p class="card-text">Final price: HKD {{ detail.0.discounted_price}}</p></b>
                                        </div>
                                    {% else %}
                                        <div class="col-sm-3">
                                        <b><p class="card-text">Final price: HKD {{ detail.0.total_cost}}</p></b>
                                        </div>
                                    {% endif %}
                                </div>
                                <a href="{% url 'cancel_reservation' %}?reservation_id={{ detail.0.reservation_id }}" class="card-link">Cancel reservation</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
{% endblock content %}