{% extends 'base.html' %}


{% block content %}

    <div class="container-fluid bg-danger text-light ">
        <div class="row" style="padding-left: 2%;padding-top:1%;">
            <div class="col-md-10">
                <h2>GBA Hotels</h2>
            </div>
            {% if name %}
                <div class="col-md-2">
                    <a href="{% url 'home' %}" style="color:aliceblue"> Home</a> |
                    <a href="{% url 'logout' %}" class="btn btn-primary" >Log out</a><br/><br/>
                </div>
            {% endif %}
        </div>
    
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">GBA Hotels Reservation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'search' %}">Search and Discover</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'reservation_history' %}">My Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
              </li>
          </ul>
          <span class="navbar-text">
            Explore and Discover in Greater Bay Area!
          </span>
        </div>
      </nav>
    <div class="form-group" style="padding-top: 1%">


            <div class="row col-xs-1" align="center" >
                <label id="user" class="col-12 col-form-label" style="color: dodgerblue"><h3>{{name}}</h3></label>
            </div>

    </div>
    <div class="col-md-12" style="margin-left: 35%">
        <div class="row">
            <label id="user" class="col-2 col-form-label"><b>Username</b></label>
            <label id="user" class="col-10 col-form-label"><b>{{record.user_name}}</b></label>
        </div>
        <div class="form-group row">
            <label id="user" class="col-2 col-form-label">Email</label>
            <label id="user" class="col-10 col-form-label">{{record.email}}</label>
        </div>
        <div class="form-group row">
            <label id="user" class="col-2 col-form-label">Address</label>
            <label id="user" class="col-10 col-form-label">{{record.address}}</label>
        </div>
        <div class="form-group row">
            <label id="user" class="col-2 col-form-label">City</label>
            <label id="user" class="col-10 col-form-label">{{record.city}}</label>
        </div>
        <div class="form-group row">
            <label id="user" class="col-2 col-form-label">State</label>
            <label id="user" class="col-10 col-form-label">{{record.state}}</label>
        </div>
        <div class="form-group row">
            <label id="user" class="col-2 col-form-label">Country</label>
            <label id="user" class="col-10 col-form-label">{{record.country}}</label>
        </div>
        <div class="form-group row">
            <label id="user" class="col-2 col-form-label">Contact number</label>
            <label id="user" class="col-10 col-form-label">{{record.phone_number}}</label>
        </div>
        <div class="form-group row">
            <label id="user" class="col-2 col-form-label">Passport No.</label>
            <label id="user" class="col-10 col-form-label">{{record.passport_no}}</label>
        </div>
    </div>
    <script type="text/javascript">

        window.onload = function() {
            var colours = ["#1abc9c", "#2ecc71", "#3498db", "#9b59b6", "#34495e", "#16a085", "#27ae60", "#2980b9", "#8e44ad", "#2c3e50", "#f1c40f", "#e67e22", "#e74c3c", "#95a5a6", "#f39c12", "#d35400", "#c0392b", "#bdc3c7", "#7f8c8d"];

            var name = document.getElementById("name").value,
                nameSplit = name.split(" "),
                initials = nameSplit[0].charAt(0).toUpperCase() + nameSplit[1].charAt(0).toUpperCase();

            var charIndex = initials.charCodeAt(0) - 65,
                colourIndex = charIndex % 19;

            var canvas = document.getElementById("user-icon");
            var context = canvas.getContext("2d");

            var canvasWidth = $(canvas).attr("width"),
                canvasHeight = $(canvas).attr("height"),
                canvasCssWidth = canvasWidth,
                canvasCssHeight = canvasHeight;

            if (window.devicePixelRatio) {
                $(canvas).attr("width", canvasWidth * window.devicePixelRatio);
                $(canvas).attr("height", canvasHeight * window.devicePixelRatio);
                $(canvas).css("width", canvasCssWidth);
                $(canvas).css("height", canvasCssHeight);
                context.scale(window.devicePixelRatio, window.devicePixelRatio);
            }

            context.fillStyle = colours[colourIndex];
            context.fillRect(0, 0, canvas.width, canvas.height);
            context.font = "128px Arial";
            context.textAlign = "center";
            context.fillStyle = "#FFF";
            context.fillText(initials, canvasCssWidth / 2, canvasCssHeight / 1.5);
        }

    </script>
{% endblock content %}