{% extends 'base.html' %}

{%  block content %}
<div class="container-fluid bg-danger text-light ">
    <div class="row" style="padding-left: 2%;padding-top:1%;">
        <div class="col-md-10">
            <h2>GBA Hotels</h2>
        </div>
        {% if name %}
            <div class="col-md-2">
                <a href="{% url 'home' %}" style="color:aliceblue"> Home</a> |
                <a href="{% url 'logout' %}" class="btn btn-primary" >Log out</a><br/><br/>
            </div>
        {% endif %}
    </div>

</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">GBA Hotels Reservation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'search' %}">Search and Discover</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">My Orders<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
          </li>
      </ul>
      <span class="navbar-text">
        Explore and Discover in Greater Bay Area!
      </span>
    </div>
  </nav>
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#confirmed">Confirmed reservations</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#cancelled">Cancelled reservations</a></li>
    </ul>

    <div class="tab-content">
        <div id="confirmed" class="tab-pane active" role="tabpanel">
            <table class="table">
                <thead>
                    <tr>
                        <th>Reservation id
                        <th>Hotel Full Name</th>
                        <th>Check in</th>
                        <th>Check out</th>
                        <th>Booked date</th>
                        <th>Room type</th>
                        <th>Rooms</th>
                        <th>Guests</th>
                        <th>Total price</th>
                        <th>Final price</th>
                    </tr>
                </thead>
                <tbody>
                {% if confirmed_details %}
                    {% for confirmed_detail in confirmed_details %}
                        <tr>
                            <th scope="row">{{ confirmed_detail.0.reservation_id }}</th>
                            <td>{{ confirmed_detail.1 }}</td>
                            <td>{{ confirmed_detail.0.check_in_date }}&nbsp;{{ confirmed_detail.0.check_in_time}}</td>
                            <td>{{ confirmed_detail.0.check_out_date }}&nbsp;{{ confirmed_detail.0.check_out_time}}</td>
                            <td>{{ confirmed_detail.0.reservation_date }}</td>
                            <td>{{ confirmed_detail.0.room_id }}</td>
                            <td>{{ confirmed_detail.0.total_rooms }}</td>
                            <td>{{ confirmed_detail.0.total_guests }}</td>
                            <td>{{ confirmed_detail.0.total_cost}}</td>
                            {% if confirmed_detail.0.discounted_price > 0 %}
                                <td>{{ confirmed_detail.0.discounted_price}}
                            {% else %}
                                <td>{{ confirmed_detail.0.total_cost}}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div id="cancelled" class="tab-pane fade" role="tabpanel">
            <table class="table">
                <thead>
                    <tr>
                        <th>Reservation id
                        <th>Hotel Full Name</th>
                        <th>Check in</th>
                        <th>Check out</th>
                        <th>Booked date</th>
                        <th>Room type</th>
                        <th>Rooms</th>
                        <th>Guests</th>
                        <th>Total price</th>
                        <th>Final price</th>
                    </tr>
                </thead>
                <tbody>
                {% if cancelled_details %}
                    {% for cancelled_detail in cancelled_details %}
                        <tr>
                            <th scope="row">{{ cancelled_detail.0.reservation_id }}</th>
                            <td>{{ cancelled_detail.1 }}</td>
                            <td>{{ cancelled_detail.0.check_in_date }}&nbsp;{{ cancelled_detail.0.check_in_time}}</td>
                            <td>{{ cancelled_detail.0.check_out_date }}&nbsp;{{ cancelled_detail.0.check_out_time}}</td>
                            <td>{{ cancelled_detail.0.reservation_date }}</td>
                            <td>{{ cancelled_detail.0.room_id }}</td>
                            <td>{{ cancelled_detail.0.total_rooms }}</td>
                            <td>{{ cancelled_detail.0.total_guests }}</td>
                            <td>{{ cancelled_detail.0.total_cost}}</td>
                            {% if cancelled_detail.0.discounted_price > 0 %}
                                <td>{{ cancelled_detail.0.discounted_price}}
                            {% else %}
                                <td>{{ cancelled_detail.0.total_cost}}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}