<!--Footer-->
{% load static %}
<footer id="contact">
    <div class="container-fluid bg-dark text-light mt-5 pt-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <h6>CSC 3170 Project, CUHK-Shenzhen, 2021 Spring</h6>
                    <p class="font-weight-light">Group Members:</p>
                    <p style="font-size: 14px">119010486 Zhu Chuyan (Leading)</p>
                    <p style="font-size: 14px">119020049 Wang Chongrui 119010346 Xiao Wenli 119010361 Xu Xuanyang 119010450 Zhang Yizhan</p>
                    
                </div>  

            </div>
        </div>
    </div>
</footer>